_minted*
pythontex*
output.txt
primera.pdf
solution_primera_video.pdf
convert.pdf
segunda.pdf
solution_segunda.pdf
tercera.pdf
solution_tercera.pdf
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.vrb
texput.log
*.vscode
__pycache__
pregunta1c.png
pregunta1c.txt
pregunta3c_gauss_jordan.png
pregunta3c_gauss_jordan.txt
pregunta3c_gaussian_elimination.png
pregunta3c_gaussian_elimination.txt
.ipynb_checkpoints
*.aux
*.toc
*.snm
*.nav
*.log
*.nav
*.out